<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/view"
            factory-class="org.knime.ext.svg.node.sparklines.SparkLineNodeFactory"
            id="org.knime.ext.svg.node.sparklines.SparkLineNodeFactory">
      </node>
      <node
            category-path="/io/write"
            factory-class="org.knime.ext.svg.node.writer.SVGWriterNodeFactory"
            id="org.knime.ext.svg.node.writer.SVGWriterNodeFactory">
      </node>
      <node
            category-path="/view/view-util"
            factory-class="org.knime.ext.svg.node.renderer2svg.Renderer2SvgNodeFactory"
            id="org.knime.ext.svg.node.renderer2svg.Renderer2SvgNodeFactory">
      </node>
      <node
            after="org.knime.ext.svg.node.sparklines.SparkLineNodeFactory"
            category-path="/view"
            factory-class="org.knime.ext.svg.node.radarplot.RadarplotAppenderFactory"
            id="org.knime.ext.svg.node.radarplot.RadarplotAppenderFactory"/>      
   </extension>

</plugin>
