<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/view"
            factory-class="org.knime.ext.svg.node.sparklines.SparkLineNodeFactory">
      </node>
      <node
            after="org.knime.ext.svg.node.sparklines.SparkLineNodeFactory"
            category-path="/view"
            factory-class="org.knime.ext.svg.node.radarplot.RadarplotAppenderFactory"/>
      <node
            category-path="/view/view-util"
            factory-class="org.knime.base.node.renderer2image.Renderer2ImageNodeFactory">
      </node>      
      <node
            category-path="/io/read"
            factory-class="org.knime.base.node.image.readimage.ReadImageFromUrlNodeFactory">
      </node>
      <node
            category-path="/view/view-util"
            factory-class="org.knime.base.node.preproc.colconvert.stringtosvg.StringToSvgNodeFactory">
      </node>
   </extension>
   <extension
         point="org.knime.core.DataValueRenderer">
      <dataValue
            valueClass="org.knime.base.data.xml.SvgValue">
         <renderer
               rendererFactoryClass="org.knime.base.data.xml.SvgValueRenderer$Factory"
               suggestAsDefault="true">
         </renderer>
         <renderer
               rendererFactoryClass="org.knime.core.data.renderer.MultiLineStringValueRenderer$Factory"
               suggestAsDefault="false">
         </renderer>
      </dataValue>
   </extension>
   <extension
         point="org.knime.core.DataType">
      <DataType
            cellClass="org.knime.base.data.xml.SvgCell"
            factoryClass="org.knime.base.data.xml.SvgCellFactory">
         <serializer
               cellClass="org.knime.base.data.xml.SvgCell"
               serializerClass="org.knime.base.data.xml.SvgCell$SvgSerializer">
         </serializer>
         <serializer
               cellClass="org.knime.base.data.xml.SvgBlobCell"
               serializerClass="org.knime.base.data.xml.SvgBlobCell$SvgSerializer">
         </serializer>
      </DataType>
   </extension>

</plugin>
